@charset "UTF-8"

body{
    background-color: rgb(228, 214, 15);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: brown;
    background-color: chartreuse;
}
h2{
    color: rgb(8, 20, 130);
}
p{
    color: darkmagenta;
}